*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(5, 24, 24);
}
.nav{
    color: whitesmoke;
    margin: 15px;
    font-size: 35px;
    border-bottom: 2px solid green;
    border-left: 5px solid green;
    border-right: 5px solid green;
}

a{
    text-decoration: none;
    align-items: left;
    padding: 5px;
    font-size:25px;
    color:rgb(19, 236, 146);
    margin-bottom:10px;
}
a:hover{
    color: green; 
}
.main{
    color:rgb(19, 236, 146) ;
    clear: both;
}
.left{
    margin-top: 15%;
    margin-left:5% ;
    margin-right:5%;
    float: left;

}
.right{
    float:left;
   
}
#icon{
    width: 450px;
    height: 380px;
    border-bottom: 2px solid green;
    border-left: 8px solid green;
}

.footer{
    margin-top:1%;
    border-top: 2px solid green;
}
button{
    height: 50px;
    font-size: 15px;
    width: 150px;
    color:rgb(19, 236, 146);
    background-color: rgb(64, 94, 81);
}
button:hover{
    color:rgb(64, 94, 81) ;
    background-color:rgb(19, 236, 146) ;
}
#name{
    border-bottom: 4px solid green;
    
}

#abt{
    font-size:20px;
    
}
ul{
    list-style-type:square;
    font-size: 20px;
}
#icon2{
    width: 300px;
    height: 300px;
    border-bottom: 4px solid green;
    border-left: 10px solid green;
}
.icon2{
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
#Abt{
    font-size: 50px;
}
.skill{
    margin: 5%;
    border: 2px solid green;
}

.skill:hover{
    background-color: green;
    border: 2px solid rgb(19, 236, 146);
}
#front{
    margin:5%;
}

#html,#css,#jscript{
    float: left;
    width: 250px;
    height: 100px;
    margin-right: 50px;
    margin-right: 50px;
    border-right: 3px solid green;
    border-bottom: 2px solid green;
   
}
.project{
    margin: 5%;
    margin-bottom: 10%;
    padding-right: 2%;
    height: 200px;
}
#phead{
    border: 2px solid green;
}